lectures/__pycache__
lectures/Simpson_paradox.py
lectures/Simpson_paradox.ipynb
lectures/myscript
lectures/img/causality_intro_image.ai
assignments_tmp/
notes.ipynb
lectures/CH-7-Hotel.ipynb
lectures/img/ch7/
