lectures/__pycache__
lectures/.ipynb_checkpoints
lectures/myscript
lectures/img/causality_intro_image.ai
assignments_tmp/
notes.ipynb
lectures/img/ch7/
lectures/img/raw_img
lectures/tmp.ipynb
lectures/causality_model.png

